{
  "openapi": "3.0.2",
  "info": {
    "title": "Bridge API",
    "description": "APIs to move into, out of, and between any form of a dollar",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.bridge.xyz/v0",
      "description": "The base path for all resources"
    }
  ],
  "tags": [
    {
      "name": "Customers"
    },
    {
      "name": "Fiat Payout Configuration"
    },
    {
      "name": "External Accounts"
    },
    {
      "name": "Transfers"
    },
    {
      "name": "Prefunded Accounts"
    },
    {
      "name": "Balances"
    },
    {
      "name": "Liquidation Addresses"
    },
    {
      "name": "Developer Fees"
    },
    {
      "name": "Developers"
    },
    {
      "name": "API Keys"
    },
    {
      "name": "Plaid"
    },
    {
      "name": "Virtual Accounts"
    },
    {
      "name": "Static Memos"
    },
    {
      "name": "Cards"
    },
    {
      "name": "Funds Requests"
    },
    {
      "name": "RFIs"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Lists"
    },
    {
      "name": "Crypto Return Policies"
    },
    {
      "name": "Rewards"
    },
    {
      "name": "Associated Persons"
    },
    {
      "name": "Sandbox"
    }
  ],
  "paths": {
    "/wallets": {
      "get": {
        "summary": "Get all Bridge Wallets",
        "description": "List of Bridge Wallets",
        "tags": [
          "Bridge Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/BridgeWalletStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/BridgeWalletEndingBeforeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Bridge Wallets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BridgeWalletsList"
                },
                "examples": {
                  "SuccessfulBridgeWalletListResponse": {
                    "$ref": "#/components/examples/SuccessfulBridgeWalletListResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/wallets/total_balances": {
      "get": {
        "summary": "Get total balances of all Bridge Wallets",
        "tags": [
          "Bridge Wallets"
        ],
        "description": "Get the total balances of all Bridge Wallets",
        "responses": {
          "200": {
            "description": "Total balances of all Bridge Wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BridgeWalletTotalBalance"
                  }
                },
                "examples": {
                  "TotalBalancesFound": {
                    "$ref": "#/components/examples/SuccessfulTotalBalancesResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/wallets/{bridgeWalletID}": {
      "get": {
        "summary": "Get a Bridge Wallet",
        "description": "Retrieve a Bridge Wallet by its ID",
        "tags": [
          "Bridge Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BridgeWalletIDParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A Bridge Wallet object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BridgeWalletWithBalances"
                },
                "examples": {
                  "SuccessfulBridgeWalletGetResponse": {
                    "$ref": "#/components/examples/SuccessfulBridgeWalletGetResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/wallets/{bridgeWalletID}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/BridgeWalletIDParameter"
        },
        {
          "$ref": "#/components/parameters/LimitParameter"
        },
        {
          "$ref": "#/components/parameters/BridgeWalletHistoryStartingAfterParameter"
        },
        {
          "$ref": "#/components/parameters/BridgeWalletHistoryEndingBeforeParameter"
        },
        {
          "$ref": "#/components/parameters/BridgeWalletHistoryStartingTimeParameter"
        },
        {
          "$ref": "#/components/parameters/BridgeWalletHistoryEndingTimeParameter"
        }
      ],
      "get": {
        "summary": "Get transaction history for a Bridge Wallet",
        "tags": [
          "Bridge Wallets"
        ],
        "description": "Get the list of transactions involving this Bridge Wallet",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BridgeWalletHistoryResponse"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "Get all customers",
        "description": "Get the full list of all customers created on Bridge",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerEndingBeforeParameter"
          },
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerEmailParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Customers",
                  "type": "object",
                  "required": [
                    "count",
                    "data"
                  ],
                  "properties": {
                    "count": {
                      "description": "total number of items in data",
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    }
                  }
                },
                "examples": {
                  "CustomersFound": {
                    "summary": "A non-empty list of customers",
                    "value": {
                      "data": [
                        {
                          "id": "00000000-0000-0000-0000-000000000000",
                          "first_name": "John",
                          "last_name": "Doe",
                          "email": "johndoe@example.com",
                          "client_reference_id": "your_internal_id_123",
                          "status": "active",
                          "type": "individual",
                          "persona_inquiry_type": "gov_id_db",
                          "created_at": "2025-11-19T21:14:58.328Z",
                          "updated_at": "2025-11-19T21:16:02.894Z",
                          "rejection_reasons": [],
                          "has_accepted_terms_of_service": true,
                          "endorsements": [
                            {
                              "name": "base",
                              "status": "approved",
                              "requirements": {
                                "complete": [
                                  "terms_of_service_v1",
                                  "first_name",
                                  "last_name",
                                  "tax_identification_number",
                                  "email_address",
                                  "address_of_residence",
                                  "date_of_birth",
                                  "proof_of_address",
                                  "sanctions_screen",
                                  "pep_screen",
                                  "blocklist_lookup",
                                  "min_age_18",
                                  "selfie_verification",
                                  "government_id_rejection_checks_passed",
                                  "government_id_review_checks_passed",
                                  "government_id_reliance",
                                  "post_processing"
                                ],
                                "pending": [],
                                "missing": null,
                                "issues": []
                              }
                            },
                            {
                              "name": "sepa",
                              "status": "approved",
                              "requirements": {
                                "complete": [
                                  "terms_of_service_v2",
                                  "first_name",
                                  "last_name",
                                  "tax_identification_number",
                                  "email_address",
                                  "address_of_residence",
                                  "date_of_birth",
                                  "proof_of_address",
                                  "sanctions_screen",
                                  "pep_screen",
                                  "blocklist_lookup",
                                  "min_age_18",
                                  "selfie_verification",
                                  "government_id_rejection_checks_passed",
                                  "government_id_review_checks_passed",
                                  "government_id_reliance"
                                ],
                                "pending": [],
                                "missing": null,
                                "issues": []
                              }
                            }
                          ],
                          "future_requirements_due": [],
                          "requirements_due": [
                            "external_account"
                          ],
                          "capabilities": {
                            "payin_crypto": "active",
                            "payout_crypto": "active",
                            "payin_fiat": "pending",
                            "payout_fiat": "pending"
                          }
                        },
                        {
                          "id": "00000000-0000-0000-0000-000000000000",
                          "first_name": "Acme Corporation",
                          "last_name": null,
                          "email": "business@example.com",
                          "client_reference_id": "your_internal_id_456",
                          "status": "active",
                          "type": "business",
                          "persona_inquiry_type": "business",
                          "created_at": "2025-11-19T04:41:33.296Z",
                          "updated_at": "2025-11-19T19:10:39.393Z",
                          "rejection_reasons": [],
                          "has_accepted_terms_of_service": true,
                          "endorsements": [
                            {
                              "name": "base",
                              "status": "approved",
                              "requirements": {
                                "complete": [
                                  "terms_of_service_v1",
                                  "business_name",
                                  "business_type",
                                  "business_description",
                                  "is_dao",
                                  "email_address",
                                  "address_of_incorporation",
                                  "address_of_operation",
                                  "tax_identification_number",
                                  "business_industry",
                                  "control_person_ownership_attestation",
                                  "minimal_source_of_funds_data",
                                  "proof_of_address",
                                  "adverse_media_screen",
                                  "sanctions_screen",
                                  "manual_business_ein_verification_review",
                                  "manual_business_registry_verification_review",
                                  "business_website",
                                  "manual_business_website_verification_review",
                                  "business_formation_document_verification",
                                  "manual_business_formation_document_verification_review",
                                  "kyb_review",
                                  {
                                    "associated_person": "11111111-1111-1111-1111-111111111111",
                                    "items": [
                                      "has_control",
                                      "first_name",
                                      "last_name",
                                      "email_address",
                                      "address_of_residence",
                                      "associated_person_relationship",
                                      "date_of_birth",
                                      "tax_identification_number",
                                      "manual_government_id_review",
                                      "sanctions_screen",
                                      "adverse_media_screen",
                                      "pep_screen",
                                      "min_age_18",
                                      "selfie_verification",
                                      "has_title"
                                    ]
                                  }
                                ],
                                "pending": [],
                                "missing": null,
                                "issues": []
                              }
                            },
                            {
                              "name": "sepa",
                              "status": "approved",
                              "requirements": {
                                "complete": [
                                  "terms_of_service_v2",
                                  "business_name",
                                  "business_type",
                                  "business_description",
                                  "is_dao",
                                  "email_address",
                                  "address_of_incorporation",
                                  "address_of_operation",
                                  "tax_identification_number",
                                  "business_industry",
                                  "control_person_ownership_attestation",
                                  "minimal_source_of_funds_data",
                                  "proof_of_address",
                                  "adverse_media_screen",
                                  "sanctions_screen",
                                  "manual_business_ein_verification_review",
                                  "manual_business_registry_verification_review",
                                  "business_website",
                                  "manual_business_website_verification_review",
                                  "business_formation_document_verification",
                                  "manual_business_formation_document_verification_review",
                                  "kyb_review",
                                  {
                                    "associated_person": "11111111-1111-1111-1111-111111111111",
                                    "items": [
                                      "has_control",
                                      "first_name",
                                      "last_name",
                                      "email_address",
                                      "address_of_residence",
                                      "associated_person_relationship",
                                      "date_of_birth",
                                      "tax_identification_number",
                                      "manual_government_id_review",
                                      "sanctions_screen",
                                      "adverse_media_screen",
                                      "pep_screen",
                                      "min_age_18",
                                      "selfie_verification",
                                      "has_title"
                                    ]
                                  }
                                ],
                                "pending": [],
                                "missing": null,
                                "issues": []
                              }
                            }
                          ],
                          "future_requirements_due": [],
                          "requirements_due": [
                            "external_account"
                          ],
                          "capabilities": {
                            "payin_crypto": "active",
                            "payout_crypto": "active",
                            "payin_fiat": "pending",
                            "payout_fiat": "pending"
                          },
                          "associated_persons": [
                            {
                              "id": "11111111-1111-1111-1111-111111111111",
                              "email": "person@example.com"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "NoCustomersFound": {
                    "summary": "An empty list of customers",
                    "value": {
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "post": {
        "summary": "Create a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          }
        ],
        "requestBody": {
          "description": "Customer object to be created.\n\nNo fields are strictly required by the API. For example, it is valid to create a customer without a first name, last name, or residential address, but this customer will not be granted endorsements required to transact on Bridge until the necessary information is provided, possibly via a PUT request.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateIndividualCustomerPayload"
                  },
                  {
                    "$ref": "#/components/schemas/CreateBusinessCustomerPayload"
                  }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "individual": "#/components/schemas/CreateIndividualCustomerPayload",
                    "business": "#/components/schemas/CreateBusinessCustomerPayload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer object created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "IndividualCustomerCreated": {
                    "summary": "Customer successfully created",
                    "$ref": "#/components/examples/SuccessfulCustomerResponse"
                  },
                  "BusinessCustomerCreated": {
                    "summary": "Customer successfully created",
                    "$ref": "#/components/examples/SuccessfulCustomerResponse2"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        }
      ],
      "get": {
        "summary": "Get a single customer object",
        "tags": [
          "Customers"
        ],
        "description": "Retrieve a customer object from the passed in customer ID",
        "responses": {
          "200": {
            "description": "Successful customer object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "SuccessfulCustomerResponse": {
                    "$ref": "#/components/examples/SuccessfulCustomerResponse"
                  },
                  "RejectedCustomerResponse": {
                    "$ref": "#/components/examples/RejectedCustomerResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "put": {
        "summary": "Update a single customer object",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "Customer object to update with",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/UpdateIndividualCustomerPayload"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateBusinessCustomerPayload"
                  }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "individual": "#/components/schemas/UpdateIndividualCustomerPayload",
                    "business": "#/components/schemas/UpdateBusinessCustomerPayload"
                  }
                }
              }
            }
          }
        },
        "description": "Updates to be made to the specified customer.\n\nNo fields are strictly required by the API. It is generally valid to provide any subset of data in a PUT request. For business customers, associated persons cannot be updated via PUT, and should instead be managed using v0/associated_persons.\n",
        "responses": {
          "200": {
            "description": "Successful customer object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "SuccessfulCustomerResponse": {
                    "$ref": "#/components/examples/SuccessfulCustomerResponse"
                  },
                  "RejectedCustomerResponse": {
                    "$ref": "#/components/examples/RejectedCustomerResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "delete": {
        "summary": "Delete a single customer object",
        "tags": [
          "Customers"
        ],
        "description": "Delete a customer object from the passed in customer ID",
        "responses": {
          "200": {
            "description": "Successfully deleted customer object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "DeletedCustomerResponse": {
                    "$ref": "#/components/examples/SuccessfulCustomerResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/external_accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        }
      ],
      "get": {
        "summary": "Get all External Accounts",
        "tags": [
          "External Accounts"
        ],
        "description": "Get all External Accounts for a passed in customer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/ExternalAccountStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/ExternalAccountEndingBeforeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of External Accounts (the returned list is empty if no External Accounts exist)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ExternalAccount",
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/ExternalAccountResponse"
                      }
                    },
                    "count": {
                      "description": "total number of items in data",
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "ExternalAccountsFound": {
                    "summary": "A non-empty list of External Accounts",
                    "value": {
                      "data": [
                        {
                          "id": "ea_123",
                          "account_type": "us",
                          "currency": "usd",
                          "customer_id": "cust_123",
                          "account_owner_name": "John Doe",
                          "bank_name": "Wells Fargo",
                          "last_4": "1111",
                          "active": true,
                          "beneficiary_address_valid": true,
                          "account": {
                            "last_4": "1111",
                            "routing_number": "121000248",
                            "checking_or_savings": "checking"
                          },
                          "created_at": "2020-01-01T00:00:00.000Z",
                          "updated_at": "2020-01-02T00:00:00.000Z"
                        }
                      ]
                    }
                  },
                  "ExternalAccountsFoundIban": {
                    "summary": "iban",
                    "value": {
                      "data": [
                        {
                          "id": "ea_123",
                          "customer_id": "cust_123",
                          "account_type": "iban",
                          "currency": "eur",
                          "account_owner_name": "John Doe",
                          "bank_name": "AAC CAPITAL PARTNERS LIMITED",
                          "active": true,
                          "iban": {
                            "last_4": "5981",
                            "bic": "BARBGB2LLEI",
                            "country": "NLD"
                          },
                          "account_owner_type": "individual",
                          "first_name": "John",
                          "last_name": "Doe",
                          "account_verification": {
                            "iban": {
                              "match_level": "match",
                              "reason_code": null,
                              "validated_account_owner_name": "John Doe"
                            },
                            "requested_at": "2020-01-01T00:05:00.000Z",
                            "completed_at": "2020-01-01T00:05:05.000Z"
                          },
                          "created_at": "2020-01-01T00:00:00.000Z",
                          "updated_at": "2020-01-02T00:00:00.000Z"
                        }
                      ]
                    }
                  },
                  "ExternalAccountsFoundPixKey": {
                    "summary": "pix (Pix Key)",
                    "value": {
                      "data": [
                        {
                          "id": "ea_123",
                          "customer_id": "cust_123",
                          "account_type": "pix",
                          "currency": "brl",
                          "account_owner_name": "João Silva",
                          "bank_name": "Banco do Brasil",
                          "active": true,
                          "pix_key": {
                            "account_preview": "jo****ilva****il.c**",
                            "document_number_last4": "8901"
                          },
                          "account_validation": {
                            "validated_account_owner_name": "João Silva",
                            "validated_bank_name": "Banco do Brasil"
                          },
                          "account_owner_type": "individual",
                          "first_name": "João",
                          "last_name": "Silva",
                          "account_verification": {
                            "pix": {
                              "matched": true,
                              "reason_code": null,
                              "validated_account_owner_name": "João Silva",
                              "validated_bank_name": "Banco do Brasil"
                            },
                            "requested_at": "2020-01-01T00:05:00.000Z",
                            "completed_at": "2020-01-01T00:05:05.000Z"
                          },
                          "created_at": "2020-01-01T00:00:00.000Z",
                          "updated_at": "2020-01-02T00:00:00.000Z"
                        }
                      ]
                    }
                  },
                  "ExternalAccountsFoundBrCode": {
                    "summary": "pix (BR Code)",
                    "value": {
                      "data": [
                        {
                          "id": "ea_456",
                          "customer_id": "cust_456",
                          "account_type": "pix",
                          "currency": "brl",
                          "account_owner_name": "Maria Santos",
                          "bank_name": "Itaú Unibanco",
                          "active": true,
                          "br_code": {
                            "account_preview": "11****1111****1111****1111",
                            "document_number_last4": "0131"
                          },
                          "account_validation": {
                            "validated_account_owner_name": "Maria Santos",
                            "validated_bank_name": "Itaú Unibanco"
                          },
                          "account_owner_type": "individual",
                          "first_name": "Maria",
                          "last_name": "Santos",
                          "account_verification": {
                            "pix": {
                              "matched": true,
                              "reason_code": null,
                              "validated_account_owner_name": "Maria Santos",
                              "validated_bank_name": "Itaú Unibanco"
                            },
                            "requested_at": "2020-01-01T00:05:00.000Z",
                            "completed_at": "2020-01-01T00:05:05.000Z"
                          },
                          "created_at": "2020-01-01T00:00:00.000Z",
                          "updated_at": "2020-01-02T00:00:00.000Z"
                        }
                      ]
                    }
                  },
                  "ExternalAccountsFoundClabe": {
                    "summary": "clabe",
                    "value": {
                      "data": [
                        {
                          "id": "ea_567",
                          "customer_id": "cust_567",
                          "account_type": "clabe",
                          "currency": "mxn",
                          "account_owner_name": "Juan García",
                          "bank_name": "Banco Santander México",
                          "active": true,
                          "clabe": {
                            "last_4": "0007"
                          },
                          "account_validation": {
                            "validated_account_owner_name": "Juan García",
                            "validated_bank_name": "Banco Santander México"
                          },
                          "account_owner_type": "individual",
                          "first_name": "Juan",
                          "last_name": "García",
                          "account_verification": {
                            "clabe": {
                              "matched": true,
                              "reason_code": null,
                              "validated_account_owner_name": "Juan García",
                              "validated_bank_name": "Banco Santander México"
                            },
                            "requested_at": "2020-01-01T00:05:00.000Z",
                            "completed_at": "2020-01-01T00:05:05.000Z"
                          },
                          "created_at": "2020-01-01T00:00:00.000Z",
                          "updated_at": "2020-01-02T00:00:00.000Z"
                        }
                      ]
                    }
                  },
                  "ExternalAccountsFoundBreB": {
                    "summary": "bre_b",
                    "value": {
                      "data": [
                        {
                          "id": "ea_789",
                          "customer_id": "cust_789",
                          "account_type": "bre_b",
                          "currency": "cop",
                          "account_owner_name": "Juan Garcia",
                          "bank_name": "Banco de Bogota",
                          "active": true,
                          "account": {
                            "last_4": "0000"
                          },
                          "account_validation": {
                            "validated_account_owner_name": "Juan Garcia",
                            "validated_bank_name": "Banco de Bogota",
                            "validated_document_number_last4": "0000"
                          },
                          "account_owner_type": "individual",
                          "first_name": "Juan",
                          "last_name": "Garcia",
                          "account_verification": {
                            "bre_b": {
                              "matched": true,
                              "reason_code": null,
                              "validated_account_owner_name": "Juan Garcia",
                              "validated_bank_name": "Banco de Bogota",
                              "validated_document_number_last4": "0000"
                            },
                            "requested_at": "2020-01-01T00:05:00.000Z",
                            "completed_at": "2020-01-01T00:05:05.000Z"
                          },
                          "created_at": "2020-01-01T00:00:00.000Z",
                          "updated_at": "2020-01-02T00:00:00.000Z"
                        }
                      ]
                    }
                  },
                  "ExternalAccountsFoundCoBankTransfer": {
                    "summary": "co_bank_transfer",
                    "value": {
                      "data": [
                        {
                          "id": "ea_012",
                          "customer_id": "cust_012",
                          "account_type": "co_bank_transfer",
                          "currency": "cop",
                          "account_owner_name": "Maria Lopez",
                          "bank_name": "Bancolombia",
                          "active": true,
                          "account": {
                            "last_4": "1234",
                            "routing_number": "1007"
                          },
                          "account_owner_type": "individual",
                          "first_name": "Maria",
                          "last_name": "Lopez",
                          "account_verification": {
                            "co_bank_transfer": {
                              "matched": true,
                              "reason_code": null,
                              "validated_account_owner_name": "Maria Lopez",
                              "validated_bank_name": "Bancolombia",
                              "validated_document_number_last4": "9012"
                            },
                            "requested_at": "2020-01-01T00:05:00.000Z",
                            "completed_at": "2020-01-01T00:05:05.000Z"
                          },
                          "created_at": "2020-01-01T00:00:00.000Z",
                          "updated_at": "2020-01-02T00:00:00.000Z"
                        }
                      ]
                    }
                  },
                  "NoExternalAccountsFound": {
                    "summary": "An empty list of External Accounts",
                    "value": {
                      "data": [],
                      "count": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "post": {
        "summary": "Create a new External Account",
        "tags": [
          "External Accounts"
        ],
        "description": "_Note_: If adding US external accounts, we recommend reading through the US Beneficiary Address Validation doc ([link](https://apidocs.bridge.xyz/docs/us-beneficiary-address-validation)) to avoid issues related to incorrect addresses.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          }
        ],
        "requestBody": {
          "description": "New External Account object to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAccountInput"
              },
              "examples": {
                "ACH": {
                  "$ref": "#/components/examples/CreateAchExternalAccountRequest"
                },
                "IBAN": {
                  "$ref": "#/components/examples/CreateIbanExternalAccountRequest"
                },
                "CLABE": {
                  "$ref": "#/components/examples/CreateClabeExternalAccountRequest"
                },
                "Pix_Key": {
                  "$ref": "#/components/examples/CreatePixExternalAccountRequest"
                },
                "Pix_BrCode": {
                  "$ref": "#/components/examples/CreateBrCodeExternalAccountRequest"
                },
                "BreB": {
                  "$ref": "#/components/examples/CreateBreBExternalAccountRequest"
                },
                "CO_Bank_Transfer": {
                  "$ref": "#/components/examples/CreateCoBankTransferExternalAccountRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "External Account object created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                },
                "examples": {
                  "ACH": {
                    "$ref": "#/components/examples/SuccessfulExternalAccountResponse"
                  },
                  "IBAN": {
                    "$ref": "#/components/examples/SuccessfulIbanExternalAccountResponse"
                  },
                  "CLABE": {
                    "$ref": "#/components/examples/SuccessfulClabeExternalAccountResponse"
                  },
                  "Pix_Key": {
                    "$ref": "#/components/examples/SuccessfulPixKeyExternalAccountResponse"
                  },
                  "Pix_BrCode": {
                    "$ref": "#/components/examples/SuccessfulBrCodeExternalAccountResponse"
                  },
                  "BreB": {
                    "$ref": "#/components/examples/SuccessfulBreBExternalAccountResponse"
                  },
                  "CO_Bank_Transfer": {
                    "$ref": "#/components/examples/SuccessfulCoBankTransferExternalAccountResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/external_accounts/{externalAccountID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        },
        {
          "$ref": "#/components/parameters/ExternalAccountIDParameter"
        }
      ],
      "get": {
        "summary": "Retrieve an External Account object",
        "description": "Retrieve an External Account object (banks, debit cards etc) from the passed in customer ID and External Account ID",
        "tags": [
          "External Accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful External Account object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                },
                "examples": {
                  "SuccessfulExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulExternalAccountResponse"
                  },
                  "SuccessfulIbanExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulIbanExternalAccountResponse"
                  },
                  "SuccessfulPixKeyExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulPixKeyExternalAccountResponse"
                  },
                  "SuccessfulBrCodeExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulBrCodeExternalAccountResponse"
                  },
                  "SuccessfulClabeExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulClabeExternalAccountResponse"
                  },
                  "SuccessfulBreBExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulBreBExternalAccountResponse"
                  },
                  "SuccessfulCoBankTransferExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulCoBankTransferExternalAccountResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "put": {
        "summary": "Update an External Account",
        "tags": [
          "External Accounts"
        ],
        "requestBody": {
          "description": "External Account details to be updated",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExternalAccountInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "External Account object updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadExternalAccountUpdateError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "delete": {
        "summary": "Delete a single External Account object",
        "tags": [
          "External Accounts"
        ],
        "description": "Delete an External Account object from the passed in External Account ID",
        "responses": {
          "200": {
            "description": "Successfully deleted External Account object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                },
                "examples": {
                  "DeletedExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulExternalAccountResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/associated_persons": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        }
      ],
      "get": {
        "summary": "Get associated persons for a business customer",
        "tags": [
          "Customers"
        ],
        "description": "Get all associated persons for a business customer.",
        "responses": {
          "200": {
            "description": "List of associated persons (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AssociatedPersonsList",
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/AssociatedPersonResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "AssociatedPersonsFound": {
                    "summary": "A non-empty list of associated persons",
                    "value": {
                      "data": [
                        {
                          "id": "associated_person_1234567890",
                          "email": "associated_person@example.com",
                          "first_name": "John",
                          "last_name": "Smith",
                          "has_ownership": true,
                          "has_control": true,
                          "is_signer": true,
                          "title": "Chief Executive Officer",
                          "relationship_established_at": "2025-05-27T17:55:33.308Z",
                          "created_at": "2025-05-27T17:55:33.308Z",
                          "updated_at": "2025-05-27T17:55:33.308Z"
                        }
                      ]
                    }
                  },
                  "NoAssociatedPersonsFound": {
                    "summary": "An empty list of associated persons",
                    "value": {
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "post": {
        "summary": "Create a new associated person for a business customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          }
        ],
        "requestBody": {
          "description": "New associated person to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociatedPerson"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Associated person created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatedPersonResponse"
                },
                "examples": {
                  "SuccessfulAssociatedPersonResponse": {
                    "$ref": "#/components/examples/SuccessfulAssociatedPersonResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/associated_persons/{associatedPersonID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        },
        {
          "$ref": "#/components/parameters/AssociatedPersonIDParameter"
        }
      ],
      "get": {
        "summary": "Get a single associated person",
        "tags": [
          "Customers"
        ],
        "description": "Retrieve an associated person by ID",
        "responses": {
          "200": {
            "description": "Successful associated person response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatedPersonResponse"
                },
                "examples": {
                  "SuccessfulAssociatedPersonResponse": {
                    "$ref": "#/components/examples/SuccessfulAssociatedPersonResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "put": {
        "summary": "Update a single associated person",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "Associated person data to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociatedPerson"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated associated person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatedPersonResponse"
                },
                "examples": {
                  "SuccessfulAssociatedPersonResponse": {
                    "$ref": "#/components/examples/SuccessfulAssociatedPersonResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "delete": {
        "summary": "Delete a single associated person",
        "tags": [
          "Customers"
        ],
        "description": "Delete an associated person by ID",
        "responses": {
          "200": {
            "description": "Successfully deleted associated person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatedPersonResponse"
                },
                "examples": {
                  "SuccessfulAssociatedPersonResponse": {
                    "$ref": "#/components/examples/SuccessfulAssociatedPersonResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/fiat_payout_configuration": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        }
      ],
      "get": {
        "summary": "Get the fiat payout configuration for a customer",
        "tags": [
          "Fiat Payout Configuration"
        ],
        "description": "Retrieve the fiat payout configuration for the given customer ID. This configuration determines which payout method (bridge, developer, payment_provider, or customer) is used for each currency and payment rail combination.\n\nThe configuration is a nested hash structure where:\n- Top-level keys are currency codes (e.g., \"usd\", \"eur\", \"brl\", \"mxn\")\n- Second-level keys are payment rail codes (e.g., \"wire\", \"ach\", \"sepa\", \"pix\", \"spei\")\n- Values are payout names: `bridge`, `developer`, `payment_provider`, or `customer`\n\nCurrently, only the following values are supported for the payout method:\n- usd.wire: `developer`, `customer`\n- usd.ach: `bridge`\n- eur.sepa: `bridge`\n- brl.pix: `payment_provider`\n- mxn.spei: `payment_provider`\n",
        "responses": {
          "200": {
            "description": "Successful fiat payout configuration response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatPayoutConfigurationResponse"
                },
                "examples": {
                  "SuccessfulFiatPayoutConfigurationResponse": {
                    "$ref": "#/components/examples/SuccessfulFiatPayoutConfigurationResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "patch": {
        "summary": "Update the fiat payout configuration for a customer",
        "tags": [
          "Fiat Payout Configuration"
        ],
        "description": "Update the fiat payout configuration for the given customer ID. This configuration determines which payout method (bridge, developer, payment_provider, or customer) is used for each currency and payment rail combination.\n\nThe configuration is a nested hash structure where:\n- Top-level keys are currency codes (e.g., \"usd\", \"eur\", \"brl\", \"mxn\")\n- Second-level keys are payment rail codes (e.g., \"wire\", \"ach\", \"sepa\", \"pix\", \"spei\")\n- Values are payout names: `bridge`, `developer`, `payment_provider`, or `customer`\n\nCurrently, only the following values are supported for the payout method:\n- usd.wire: `developer`, `customer`\n- usd.ach: `bridge`\n- eur.sepa: `bridge`\n- brl.pix: `payment_provider`\n- mxn.spei: `payment_provider`\n\nOnly the currency/payment rail combinations provided will be updated. Other existing configurations will remain unchanged.\n",
        "requestBody": {
          "description": "Fiat payout configuration to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchFiatPayoutConfigurationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful fiat payout configuration update response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatPayoutConfigurationResponse"
                },
                "examples": {
                  "SuccessfulPatchFiatPayoutConfigurationResponse": {
                    "$ref": "#/components/examples/SuccessfulPatchFiatPayoutConfigurationResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "description": "Request not allowed. Contact your account manager to be enabled for this feature. Additional fees apply.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/external_accounts/{externalAccountID}/deactivate": {
      "post": {
        "summary": "Deactivate an External Account",
        "description": "Deactivate an active External Account. The External Account is preserved and can be reactivated later via the reactivate endpoint.",
        "tags": [
          "External Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/ExternalAccountIDParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivated External Account object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                },
                "examples": {
                  "DeactivatedExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulExternalAccountResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/external_accounts/{externalAccountID}/verify": {
      "post": {
        "summary": "Verify an External Account",
        "description": "Trigger a verification check for an external account. Verifies that the `account_owner_name` matches the actual account holder at the receiving bank.\n\nSupported for `iban` (EUR), `gb` (GBP), `pix` (BRL), `clabe` (MXN), `bre_b` (COP), and `co_bank_transfer` (COP, PSE) account types only. Does not require an Idempotency-Key header.\n\nAfter triggering, poll the external account's `account_verification` field until `completed_at` is populated.\n",
        "tags": [
          "External Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/ExternalAccountIDParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_type": {
                      "type": "string",
                      "enum": [
                        "iban",
                        "gb",
                        "pix",
                        "clabe",
                        "bre_b",
                        "co_bank_transfer"
                      ],
                      "description": "The account type that was verified."
                    },
                    "account_verification": {
                      "$ref": "#/components/schemas/AccountVerification"
                    }
                  }
                },
                "examples": {
                  "PendingIbanVerification": {
                    "summary": "iban",
                    "value": {
                      "account_type": "iban",
                      "account_verification": {
                        "iban": {
                          "match_level": "pending",
                          "reason_code": null,
                          "validated_account_owner_name": null
                        },
                        "requested_at": "2026-01-15T12:00:00.000Z",
                        "completed_at": null
                      }
                    }
                  },
                  "PendingGbVerification": {
                    "summary": "gb",
                    "value": {
                      "account_type": "gb",
                      "account_verification": {
                        "gb": {
                          "match_level": "pending",
                          "reason_code": null,
                          "validated_account_owner_name": null
                        },
                        "requested_at": "2026-01-15T12:00:00.000Z",
                        "completed_at": null
                      }
                    }
                  },
                  "PendingPixVerification": {
                    "summary": "pix",
                    "value": {
                      "account_type": "pix",
                      "account_verification": {
                        "pix": {
                          "matched": null,
                          "reason_code": null,
                          "validated_account_owner_name": null,
                          "validated_bank_name": null
                        },
                        "requested_at": "2026-01-15T12:00:00.000Z",
                        "completed_at": null
                      }
                    }
                  },
                  "PendingClabeVerification": {
                    "summary": "clabe",
                    "value": {
                      "account_type": "clabe",
                      "account_verification": {
                        "clabe": {
                          "matched": null,
                          "reason_code": null,
                          "validated_account_owner_name": null,
                          "validated_bank_name": null
                        },
                        "requested_at": "2026-01-15T12:00:00.000Z",
                        "completed_at": null
                      }
                    }
                  },
                  "PendingBreBVerification": {
                    "summary": "bre_b",
                    "value": {
                      "account_type": "bre_b",
                      "account_verification": {
                        "bre_b": {
                          "matched": null,
                          "reason_code": null,
                          "validated_account_owner_name": null,
                          "validated_bank_name": null,
                          "validated_document_number_last4": null
                        },
                        "requested_at": "2026-01-15T12:00:00.000Z",
                        "completed_at": null
                      }
                    }
                  },
                  "PendingCoBankTransferVerification": {
                    "summary": "co_bank_transfer",
                    "value": {
                      "account_type": "co_bank_transfer",
                      "account_verification": {
                        "co_bank_transfer": {
                          "matched": null,
                          "reason_code": null,
                          "validated_account_owner_name": null,
                          "validated_bank_name": null,
                          "validated_document_number_last4": null
                        },
                        "requested_at": "2026-01-15T12:00:00.000Z",
                        "completed_at": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "description": "A verification is already in progress for this external account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/external_accounts/{externalAccountID}/reactivate": {
      "post": {
        "summary": "Reactivate an External Account",
        "description": "Reactivate a previously deactivated External Account",
        "tags": [
          "External Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/ExternalAccountIDParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Reactivated External Account object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadExternalAccountReactivateError"
          }
        }
      }
    },
    "/customers/{customerID}/tos_acceptance_link": {
      "get": {
        "summary": "Retrieve a hosted URL for ToS acceptance for an existing customer",
        "tags": [
          "Customers"
        ],
        "description": "The page at the returned URL will guide the user through the Bridge Terms of Service (ToS) acceptance flow. This can be used by existing customers to accept a new version of the ToS.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A Hosted URL for ToS acceptance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "A hosted URL for ToS acceptance"
                    }
                  }
                },
                "examples": {
                  "TosAcceptanceLink": {
                    "summary": "A sample ToS acceptance link",
                    "value": {
                      "url": "https://compliance.bridge.xyz/accept-terms-of-service?email=sage%40blick-mayer.example&t=74ea7c13-2b52-5073-bd12-6879f92b88dd"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/kyc_link": {
      "get": {
        "summary": "Retrieve a hosted KYC Link for an existing customer",
        "tags": [
          "Customers"
        ],
        "description": "The page at the returned URL will guide the user through a Bridge KYC flow. This can be used by existing customers to provide additional KYC information required for certain features or services that Bridge offers.\n\nFor example, to enable an existing customer to use the `SEPA`/`Euro` services, they are required to provide `proof of address`. An additional parameter, `endorsement=sepa`, can be included to request a KYC link specifically for this purpose",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/EndorsementParameter"
          },
          {
            "$ref": "#/components/parameters/RedirectUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A Hosted URL for KYC",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "A hosted KYC link"
                    }
                  }
                },
                "examples": {
                  "KycLink": {
                    "summary": "A sample KYC link",
                    "value": {
                      "url": "https://bridge.withpersona.com/verify?inquiry-template-id=itmpl_NtIXpb9AbEYCPxGo5iRbc9d2&reference-id=75d2f259-6810-4cde-a9b9-83eca42b0ebf"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/transfers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        },
        {
          "$ref": "#/components/parameters/LimitParameter"
        },
        {
          "$ref": "#/components/parameters/TransferStartingAfterParameter"
        },
        {
          "$ref": "#/components/parameters/TransferEndingBeforeParameter"
        },
        {
          "$ref": "#/components/parameters/TxHashParameter"
        },
        {
          "$ref": "#/components/parameters/UpdatedAfterMsParameter"
        },
        {
          "$ref": "#/components/parameters/UpdatedBeforeMsParameter"
        },
        {
          "$ref": "#/components/parameters/TransferStateParameter"
        }
      ],
      "get": {
        "summary": "Get all transfers",
        "tags": [
          "Customers"
        ],
        "description": "Get all active and completed transfers for a customer.",
        "responses": {
          "200": {
            "description": "List of transfers (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Transfers",
                  "type": "object",
                  "required": [
                    "count",
                    "data"
                  ],
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "The number of transfers returned"
                    },
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/TransferResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "TransfersFound": {
                    "summary": "A non-empty list of transfers",
                    "value": {
                      "count": 2,
                      "data": [
                        {
                          "id": "00000000-0000-0000-0000-000000000004",
                          "client_reference_id": "client_transfer_id_456",
                          "state": "funds_received",
                          "on_behalf_of": "00000000-0000-0000-0000-000000000001",
                          "amount": "500.25",
                          "developer_fee": "0.0",
                          "source": {
                            "payment_rail": "ach",
                            "currency": "usd",
                            "external_account_id": "00000000-0000-0000-0000-000000000002"
                          },
                          "destination": {
                            "payment_rail": "ethereum",
                            "currency": "usdc",
                            "to_address": "0x71C7656EC7ab88b098defB751B7401B5f6d8976F"
                          },
                          "receipt": {
                            "initial_amount": "500.25",
                            "developer_fee": "0.0",
                            "exchange_fee": "0.0",
                            "subtotal_amount": "500.25",
                            "gas_fee": "0.0",
                            "final_amount": "500.25",
                            "destination_tx_hash": "0xdeadbeef",
                            "url": "https://dashboard.bridge.xyz/transaction/00000000-0000-0000-0000-000000000000/receipt/00000000-0000-0000-0000-000000000000"
                          },
                          "created_at": "2020-01-02T00:00:00.000Z",
                          "updated_at": "2020-01-03T00:00:00.000Z"
                        },
                        {
                          "id": "00000000-0000-0000-0000-000000000003",
                          "client_reference_id": "client_transfer_id_123",
                          "state": "awaiting_funds",
                          "on_behalf_of": "00000000-0000-0000-0000-000000000001",
                          "amount": "75.0",
                          "developer_fee": "0.0",
                          "source": {
                            "payment_rail": "ethereum",
                            "currency": "usdc",
                            "from_address": "0x71C7656EC7ab88b098defB751B7401B5f6d8976F"
                          },
                          "destination": {
                            "payment_rail": "ach",
                            "currency": "usd",
                            "external_account_id": "00000000-0000-0000-0000-000000000002"
                          },
                          "source_deposit_instructions": {
                            "payment_rail": "ethereum",
                            "amount": "75.0",
                            "currency": "usdc",
                            "from_address": "0x71C7656EC7ab88b098defB751B7401B5f6d8976F",
                            "to_address": "0xb794f5ea0ba39494ce839613fffba74279579268"
                          },
                          "receipt": {
                            "initial_amount": "75.0",
                            "developer_fee": "0.0",
                            "exchange_fee": "0.0",
                            "subtotal_amount": "75.0",
                            "gas_fee": "0.0",
                            "final_amount": "75.0",
                            "url": "https://dashboard.bridge.xyz/transaction/00000000-0000-0000-0000-000000000000/receipt/00000000-0000-0000-0000-000000000000"
                          },
                          "created_at": "2020-01-01T00:00:00.000Z",
                          "updated_at": "2020-01-02T00:00:00.000Z"
                        }
                      ]
                    }
                  },
                  "NoTransfersFound": {
                    "summary": "An empty list of transfers",
                    "value": {
                      "count": 0,
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/transfers/static_templates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        },
        {
          "$ref": "#/components/parameters/LimitParameter"
        },
        {
          "$ref": "#/components/parameters/TransferStartingAfterParameter"
        },
        {
          "$ref": "#/components/parameters/TransferEndingBeforeParameter"
        }
      ],
      "get": {
        "summary": "Get all static templates for a customer",
        "tags": [
          "Customers"
        ],
        "description": "Get all static templates for a customer. Static templates are transfers that are used as templates for other transfers and can be created using the static_templates feature flag.",
        "responses": {
          "200": {
            "description": "List of static templates (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Static Templates",
                  "type": "object",
                  "required": [
                    "count",
                    "data"
                  ],
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "The number of static templates returned"
                    },
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/TransferResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "StaticTemplatesFound": {
                    "summary": "A non-empty list of static templates",
                    "value": {
                      "count": 2,
                      "data": [
                        {
                          "id": "00000000-0000-0000-0000-000000000004",
                          "client_reference_id": "client_transfer_id_456",
                          "state": "funds_received",
                          "on_behalf_of": "00000000-0000-0000-0000-000000000001",
                          "amount": "500.25",
                          "developer_fee": "0.0",
                          "source": {
                            "payment_rail": "ach",
                            "currency": "usd",
                            "external_account_id": "00000000-0000-0000-0000-000000000002"
                          },
                          "destination": {
                            "payment_rail": "ethereum",
                            "currency": "usdc",
                            "to_address": "0x71C7656EC7ab88b098defB751B7401B5f6d8976F"
                          },
                          "receipt": {
                            "initial_amount": "500.25",
                            "developer_fee": "0.0",
                            "exchange_fee": "0.0",
                            "subtotal_amount": "500.25",
                            "gas_fee": "0.0",
                            "final_amount": "500.25",
                            "destination_tx_hash": "0xdeadbeef",
                            "url": "https://dashboard.bridge.xyz/transaction/00000000-0000-0000-0000-000000000000/receipt/00000000-0000-0000-0000-000000000000"
                          },
                          "created_at": "2020-01-02T00:00:00.000Z",
                          "updated_at": "2020-01-03T00:00:00.000Z"
                        },
                        {
                          "id": "00000000-0000-0000-0000-000000000003",
                          "client_reference_id": "client_transfer_id_123",
                          "state": "awaiting_funds",
                          "on_behalf_of": "00000000-0000-0000-0000-000000000001",
                          "amount": "75.0",
                          "developer_fee": "0.0",
                          "source": {
                            "payment_rail": "ethereum",
                            "currency": "usdc",
                            "from_address": "0x71C7656EC7ab88b098defB751B7401B5f6d8976F"
                          },
                          "destination": {
                            "payment_rail": "ach",
                            "currency": "usd",
                            "external_account_id": "00000000-0000-0000-0000-000000000002"
                          },
                          "source_deposit_instructions": {
                            "payment_rail": "ethereum",
                            "amount": "75.0",
                            "currency": "usdc",
                            "from_address": "0x71C7656EC7ab88b098defB751B7401B5f6d8976F",
                            "to_address": "0xb794f5ea0ba39494ce839613fffba74279579268"
                          },
                          "receipt": {
                            "initial_amount": "75.0",
                            "developer_fee": "0.0",
                            "exchange_fee": "0.0",
                            "subtotal_amount": "75.0",
                            "gas_fee": "0.0",
                            "final_amount": "75.0",
                            "url": "https://dashboard.bridge.xyz/transaction/00000000-0000-0000-0000-000000000000/receipt/00000000-0000-0000-0000-000000000000"
                          },
                          "created_at": "2020-01-01T00:00:00.000Z",
                          "updated_at": "2020-01-02T00:00:00.000Z"
                        }
                      ]
                    }
                  },
                  "NoStaticTemplatesFound": {
                    "summary": "An empty list of static templates",
                    "value": {
                      "count": 0,
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/tos_links": {
      "post": {
        "summary": "Request a hosted URL for ToS acceptance for new customer creation",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          }
        ],
        "description": "The URL endpoint returned will guide the user through a Bridge TOS flow. Signing this acceptance flow is a requirement for creating customers.",
        "responses": {
          "201": {
            "description": "A Bridge hosted URL for users to complete terms of service signing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "A Bridge hosted URL for users to complete terms of service signing."
                    }
                  }
                },
                "examples": {
                  "TosUrl": {
                    "summary": "A sample Bridge hosted URL",
                    "value": {
                      "data": {
                        "url": "https://compliance.bridge.xyz/accept-terms-of-service?session_token=4d5d8c45-9feb-422a-bb5e-0fd32e3b3c53&redirect_uri=https%3A%2F%2Fgoogle.com"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/customers/{customerID}/plaid_link_requests": {
      "post": {
        "summary": "Generate a Plaid Link token for a customer",
        "tags": [
          "Plaid"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Plaid Link token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaidLinkRequest"
                },
                "examples": {
                  "PlaidLinkRequestSuccessResponse": {
                    "$ref": "#/components/examples/PlaidLinkRequestSuccessResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/plaid_exchange_public_token/{link_token}": {
      "post": {
        "summary": "Exchange Plaid public token for an access token",
        "tags": [
          "Plaid"
        ],
        "parameters": [
          {
            "name": "link_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Plaid Link token"
          }
        ],
        "requestBody": {
          "description": "Plaid public token to be exchanged",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id",
                  "type"
                ],
                "$ref": "#/components/schemas/PlaidExchangePublicToken"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Plaid public token exchanged",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Plaid public token exchanged",
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message indicating the status of the request"
                    }
                  }
                },
                "examples": {
                  "PlaidExchangePublicTokenSuccessResponse": {
                    "$ref": "#/components/examples/PlaidExchangePublicTokenSuccessResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/transfers": {
      "get": {
        "summary": "Get all transfers",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/TransferStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/TransferEndingBeforeParameter"
          },
          {
            "$ref": "#/components/parameters/TxHashParameter"
          },
          {
            "$ref": "#/components/parameters/UpdatedAfterMsParameter"
          },
          {
            "$ref": "#/components/parameters/UpdatedBeforeMsParameter"
          },
          {
            "$ref": "#/components/parameters/TemplateIDParameter"
          },
          {
            "$ref": "#/components/parameters/TransferStateParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transfers (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Transfers",
                  "type": "object",
                  "required": [
                    "count",
                    "data"
                  ],
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "The number of transfers returned"
                    },
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/TransferResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "TransfersFound": {
                    "summary": "A non-empty list of transfers",
                    "value": {
                      "count": 2,
                      "data": [
                        {
                          "id": "00000000-0000-0000-0000-000000000004",
                          "client_reference_id": "client_transfer_id_456",
                          "state": "funds_received",
                          "on_behalf_of": "00000000-0000-0000-0000-000000000001",
                          "amount": "500.25",
                          "developer_fee": "0.0",
                          "source": {
                            "payment_rail": "ach",
                            "currency": "usd",
                            "external_account_id": "00000000-0000-0000-0000-000000000002"
                          },
                          "destination": {
                            "payment_rail": "ethereum",
                            "currency": "usdc",
                            "to_address": "0x71C7656EC7ab88b098defB751B7401B5f6d8976F"
                          },
                          "receipt": {
                            "initial_amount": "500.25",
                            "developer_fee": "0.0",
                            "exchange_fee": "0.0",
                            "subtotal_amount": "500.25",
                            "gas_fee": "0.0",
                            "final_amount": "500.25",
                            "destination_tx_hash": "0xdeadbeef",
                            "url": "https://dashboard.bridge.xyz/transaction/00000000-0000-0000-0000-000000000000/receipt/00000000-0000-0000-0000-000000000000"
                          },
                          "created_at": "2020-01-02T00:00:00.000Z",
                          "updated_at": "2020-01-03T00:00:00.000Z"
                        },
                        {
                          "id": "00000000-0000-0000-0000-000000000003",
                          "client_reference_id": "client_transfer_id_123",
                          "state": "awaiting_funds",
                          "on_behalf_of": "00000000-0000-0000-0000-000000000001",
                          "amount": "75.0",
                          "developer_fee": "0.0",
                          "source": {
                            "payment_rail": "ethereum",
                            "currency": "usdc",
                            "from_address": "0x71C7656EC7ab88b098defB751B7401B5f6d8976F"
                          },
                          "destination": {
                            "payment_rail": "ach",
                            "currency": "usd",
                            "external_account_id": "00000000-0000-0000-0000-000000000002"
                          },
                          "source_deposit_instructions": {
                            "payment_rail": "ethereum",
                            "amount": "75.0",
                            "currency": "usdc",
                            "from_address": "0x71C7656EC7ab88b098defB751B7401B5f6d8976F",
                            "to_address": "0xb794f5ea0ba39494ce839613fffba74279579268"
                          },
                          "receipt": {
                            "initial_amount": "75.0",
                            "developer_fee": "0.0",
                            "exchange_fee": "0.0",
                            "subtotal_amount": "75.0",
                            "gas_fee": "0.0",
                            "final_amount": "75.0",
                            "url": "https://dashboard.bridge.xyz/transaction/00000000-0000-0000-0000-000000000000/receipt/00000000-0000-0000-0000-000000000000"
                          },
                          "created_at": "2020-01-01T00:00:00.000Z",
                          "updated_at": "2020-01-02T00:00:00.000Z"
                        }
                      ]
                    }
                  },
                  "NoTransfersFound": {
                    "summary": "An empty list of transfers",
                    "value": {
                      "count": 0,
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "post": {
        "summary": "Create a transfer",
[...]
